/* @import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap"); */

*{
  font-family: Georgia, 'Times New Roman', Times, serif;
} 

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;
    line-height: 1.6;
    background-color: white;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  justify-items: center;
  grid-template-rows: 100px 100px auto 100px;
  grid-template-areas: 
  "projectTitle"
  "bookButton"
  "books"
  "footer";
}

.projectTitle {grid-area: projectTitle;}

.bookButton {grid-area: bookButton;}

.books {grid-area: books;}

.footer {grid-area: footer;}


/* PROJECT TITLE */
.projectTitle {
  padding: 0;
  margin: 0;
}

/* BOOK BUTTON */
.bookButton #modalBtn {
  background: coral;
  padding: 1em 2em;
  border: 0;
}

.bookButton #modalBtn:hover {
  background: #333;
  transition: 0.5s;
}

/* BOOKS */
.book {
  width: 200px;
  height: 200px;
  background: lightgray;
}

.book:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* FOOTER */ 
.footer {
  display: inline-flex;
  text-align: center;
  margin: 0 auto;
}

.footer p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 25px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.3);
}

.modalContent { 
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.books {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}